.form-control{
    margin-bottom: 10px;
}

.btn-continue{
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;
}
button{
    width: 300px;
}

.container{
    margin: 0px auto;
    margin-top: 300px;
}
